body {
  min-height: 100vh;
  margin: 0;
}

body nav {
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

body nav button img {
  display: block;
  height: 220px;
  width: 220px;
}

body nav button {
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 8px;
  margin: 0 4px;
  box-sizing: border-box;
  cursor: pointer;
}

footer {
  background-color: #052258;
  color: #FFF;
  padding: 30px 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

footer .left {
  display: inline-block;
  width: 49%;
}

footer .right {
  display: inline-block;
  text-align: right;
  width: 49%;
}

footer .left ul {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

footer .left ul li {
  /* text-transform: lowercase; */
  display: inline-block;
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid #666;
}

footer .left ul li:last-child {
  padding-right: 0;
  margin-right: 0;
  border: 0;
}

.school-name {
  text-align: center;
}