* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(220, 232, 243);
}

h1 {
  color:#052258;
  text-align: center;
  margin-bottom: 14px;
  font-size: 120px;
}

h1.main-title {
  border-bottom: 1px solid #333;
  margin-left: 100px;
  margin-right: 100px;
}

.izq {
  display: inline-block;
  margin-left: 30px;
}

.der {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 39%;
  padding: 0 50px;
  box-sizing: border-box;
  margin-top: 30px;
}

.izq img {
 max-width: 740px;
 width: 100%;
 box-shadow: 2px 8px 8px rgba(0, 0, 0, 1);
}

.borde {
  width: 100%;
  padding: 15px 60px;
  background-color:#8eb0f0;
  border: 1px solid #0a0a0a;
  box-sizing: border-box;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 1);
}

.borde select {
  width: 80%;
  text-align: center;
}

.login {
  margin: 0 auto;
  margin-top: 40px;
  width: 70%;
  padding: 0px 30px;
  background-color:#8eb0f0;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 1);
}


/* New */
.top-box {
  display: block;
}

.top-box > h3 {
  text-align: center;
}

.top-box > a {
  float: right;
  margin-bottom: 10px;
}

.inside-box {
  margin: 0 auto;
  margin-top: 40px;
  width: 70%;
  padding: 10px 30px;
  background-color:#8eb0f0;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 1);
}

.inside-box .empty {
  text-align: center;
}

.inside-box .empty span:first-child {
  font-weight: bold;
}

.input-group-box {
  display: inline-block;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  min-width: 180px;
}

.input-group-box > label {
  display: block;
  padding-bottom: 5px;
}

.input-group-box > input,
.input-group-box > select {
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  width: 100%;
}

.buttons-box {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.buttons-box.login-button {
  justify-content: center;
  margin-bottom: 10px;
}

button {
  border: 0;
  background-color: #052258;
  padding: 8px 15px;
  box-sizing: border-box;
  outline: none;
  color: #FFF;
  transition: all 0.1s linear;
  border-radius: 10px;
  cursor: pointer;
}

button a {
  color: #FFF !important;
  text-decoration: none !important;
}

button:hover,
button:visited {
  background-color: #2d559d;
}

button.white {
  background-color: #FFF;
}

button.white:hover,
button.white:visited {
  background-color: #EEE;
}

button.white a {
  color: #000 !important;
}

button.red {
  background-color: #be2626;
}

button.red:hover,
button.red:visited {
  background-color: #b24b4b;
}

hr {
  border: 0 !important;
  height: 1px !important;
  background-color: #CCC;
  margin-bottom: 20px;
}

.clear {
  clear: both !important;
}

#searchForm {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 12px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
}

table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table tr td {
  padding: 5px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #052258;
  color: white;
}